<!DOCTYPE html>
<html>

<head>
  <title>Canvas Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>

<body>
  <h1 id="title">Draw a symbol</h1>
  <div id="particles-js"></div>
  <script text="text/javascript" src="particles.js"></script>

  <canvas id="canvas" width="600" height="600"></canvas>
  <canvas id="scroll-canvas"></canvas>
  <h2 id="prediction">Predicted symbol is (((SYMBOL)))</h2>
  <script>
    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');
    var drawing = false;
    var strokes = [];

    canvas.addEventListener('mousedown', function (e) {
      if (!drawing) {
        // Clear the canvas when the mouse if clicked for a new symbol to be drawn
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.beginPath();
        strokes = [];
      }
      drawing = true;
      strokes.push([e.offsetX, e.offsetY]);
    });

    canvas.addEventListener('mousemove', function (e) {
      if (drawing) {
        ctx.beginPath();
        ctx.moveTo(strokes[strokes.length - 1][0], strokes[strokes.length - 1][1]);
        ctx.lineTo(e.offsetX, e.offsetY);
        ctx.stroke();
        strokes.push([e.offsetX, e.offsetY]);
      }
    });

    canvas.addEventListener('mouseup', function (e) {
      drawing = false;
      // Send the strokes data to the server for recognition
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/recognize');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function () {
        if (xhr.status === 200) {
          alert(xhr.responseText);
        } else {
          alert('Error: ' + xhr.statusText);
        }
      };
      xhr.send('strokes=' + JSON.stringify(strokes));
      strokes = [];
    });

    particlesJS.load('particles-js', 'particles.json', function () {
      console.log('loaded successfully');
    });
  </script>

</body>

</html>