<!DOCTYPE html>
<html>

<head>
  <title>Canvas Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>
  <h1 id="title">Draw a symbol</h1>
  <h2 id="prediction">Predicted symbol is (((SYMBOL)))</h2>

  <canvas id="scroll-canvas"></canvas>
  <canvas id="canvas" width="600" height="600"></canvas>

  <div id="particles-js"></div>
  <script text="text/javascript" src="particles.js"></script>
  <script text="text/javascript" src="script.js"></script>
</body>

</html>